.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}

@media (max-width: 768px) {
  .light-rays-container {
    will-change: transform;
  }
  
  .light-rays-container canvas {
    image-rendering: optimizeSpeed;
  }
}

@media (max-width: 480px) {
  .light-rays-container canvas {
    image-rendering: -webkit-optimize-contrast;
  }
}

