.aurora-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .aurora-container {
    will-change: transform;
  }
  
  .aurora-container canvas {
    image-rendering: optimizeSpeed;
  }
}

@media (max-width: 480px) {
  .aurora-container canvas {
    image-rendering: -webkit-optimize-contrast;
  }
}

